.form__submit {
    margin-top: 50px;
    background: #000;
    height: 50px;
    color: #fff;
    font-family: Inter, 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    border: 1px #000;
    border-radius: 2px;
    padding: 0;
    transition: 0.3s;
}

.form__submit:hover {
    cursor: pointer;
    opacity: .8;
}

.form__submit:focus {
    outline: 0;
}

@media screen and (max-width:767px) {
    .form__submit {
        margin-top: 45px;
        font-size: 14px;
        line-height: 1.2;
        height: 46px;
    }
}